<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
    <appSettings>
      <add key="HexagonSizeFromApp" value="50"/>
      <add key="HexagonNumberFromApp" value="127"/>
      
    </appSettings>
  
</configuration>